.gt_content_wrap h2.center {
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

.gt_content_wrap h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25em;
    display: inline-block;
    margin: 0px;
}

.gt_content_wrap ol h5 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    padding-top: 2px;
}

.gt_content_wrap ol li {
    font-size: 16px;
}

.gt_content_wrap {
    width: 100%;
    max-width: 920px;
    display: block;
    margin: auto;
    margin-bottom: 48px;
    position: relative;
}

.gt_divider {
    width: 56px;
    line-height: 0;
    margin-top: 8px;
    margin-bottom: 24px;
    border-bottom: 3px solid #ffcd00;
    border-radius: 100rem;
}

.gt_anchor {
    position: absolute;
    top: -120px;
    width: 10px;
    height: 10px;
}

.gt_content_wrap__Label {
    display: inline-block;
    margin-left: 8px;
}

/* BASE & HELPER */
.v3Helpers {
    min-height: 30px;
    width: 100%;
    background: url("https://s3-ap-southeast-1.amazonaws.com/traveloka/imageResource/mcp/componentType/1469082135065-desktopWeb.png") no-repeat center;
    background-size: contain;
}

::selection {
    background: #1BA0E2;
    color: #FFF;
}

.mcp-placeholder[data-name="content"] {
    padding-bottom: 40px;
}

.mcp-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: GRAYscale;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center .align-center-short {
    display: inline-block;
    width: 600px;
}

.caret {
    display: inline-block;
    margin-left: 5px;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #0770CD;
    border-left: 2px solid #0770CD;
    transform: rotate(-45deg) translateY(-3px);
}

.caret.caret-white {
    border-color: #FFF;
}

.block-underline {
    display: block;
    width: 100%;
    border-width: 0;
}

.block-underline:after {
    display: inline-block;
    width: 56px;
    height: 3px;
    background-color: #1BA0E2;
    content: "";
}

.block-underline.black:after {
    background-color: #696969;
}

.block-underline.yellow:after {
    background-color: #FFCD00;
}

.bg-grey {
    background-color: #F7F9FA;
}

.mcp-placeholder hr {
    border-width: 0;
    border-top: 1px solid #DADADA;
}

.m-b-0,
.mb-0 {
    margin-bottom: 0;
}

.m-b-8,
.mb-8 {
    margin-bottom: 8px;
}

.m-b-16,
.mb-16 {
    margin-bottom: 16px;
}

.m-b-24,
.mb-24 {
    margin-bottom: 24px;
}

.m-b-32,
.mb-32 {
    margin-bottom: 32px;
}

.m-b-40,
.mb-40 {
    margin-bottom: 40px;
}

.m-b-48,
.mb-48 {
    margin-bottom: 48px;
}

.m-t-0,
.mt-0 {
    margin-top: 0;
}

.m-t-8,
.mt-8 {
    margin-top: 8px;
}

.m-t-16,
.mt-16 {
    margin-top: 16px;
}

.m-t-24,
.mt-24 {
    margin-top: 24px;
}

.m-t-32,
.mt-32 {
    margin-top: 32px;
}

.m-t-48,
.mt-40 {
    margin-top: 40px;
}

.m-t-48,
.mt-48 {
    margin-top: 48px;
}

.b-t {
    border-top: 1px solid #DADADA;
}

.b-r {
    border-right: 1px solid #DADADA;
}

.b-b {
    border-bottom: 1px solid #DADADA;
}

.b-l {
    border-left: 1px solid #DADADA;
}

/* GRID */
.clearfix,
.row {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    display: table;
    content: " ";
}

.clearfix:after,
.row:after {
    clear: both;
}

.row {
    margin-right: -12px;
    margin-left: -12px;
}

.flex {
    display: flex;
}

.row.flex {
    display: flex;
}

.row.flex.centered {
    align-items: center;
}

div[class*="col-"] {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding-right: 12px;
    padding-left: 12px;
    min-height: 1px;
}

.col-1 {
    width: 8.33333%;
}

.offset-1 {
    margin-left: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.col-3 {
    width: 25%;
}

.offset-3 {
    margin-left: 25%;
}

.col-4 {
    width: 33.33333%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.offset-5 {
    margin-left: 41.66667%;
}

.col-6 {
    width: 50%;
}

.offset-6 {
    margin-left: 50%;
}

.col-7 {
    width: 58.33333%;
}

.offset-7 {
    margin-left: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.col-9 {
    width: 75%;
}

.offset-9 {
    margin-left: 75%;
}

.col-10 {
    width: 83.33333%;
}

.offset-10 {
    margin-left: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.offset-11 {
    margin-left: 91.66667%;
}

.col-12 {
    width: 100%;
}

.offset-12 {
    margin-left: 100%;
}

/* TYPOGRAPHY */

html,
body {
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: GRAYscale;
}

.mcp-placeholder {
    color: #03121A !important;
    font-weight: 500;
    font-size: 16px;
    font-family: MuseoSans, sans-serif;
    line-height: 1.8;
}

h1 {
    font-weight: 500;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

b,
strong {
    font-weight: 700;
}

h1 {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 40px;
}

h2 {
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
}

h3 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 24px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
}

h5 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
}

h6 {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #687176;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 14px;
}

p {
    color: #354148;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
}

p br:first-child:last-child {
    display: none;
}

#tripSearchFormContainer p {
    margin: 0;
}

small,
.small {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
    margin: 0;
}

/* Override */

#desktop-topbar h1,
#desktop-topbar h2,
#desktop-topbar h3 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
}

/* End Override */

*:lang(th) {
    font-family: sans-serif !important;
}

*:lang(vi) {
    font-family: sans-serif !important;
}

.light {
    font-weight: normal !important;
}

.thin {
    font-weight: 300 !important;
}

.hover {
    -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.text-secondary {
    color: #687176;
}

.text-disabled {
    color: #687176;
    opacity: .5;
}

.text-solid {
    color: #03121A;
}

.text-white {
    color: #FFF;
}

.text-white a {
    border-bottom: 1px solid #FFF;
    color: #FFF;
}

.text-white a:hover {
    opacity: 0.6;
}

.text-white a:active,
.text-white .contentWrapper a:focus {
    opacity: 1;
}

.contentWrapper a,
.contentWrapper a:link {
    color: #0194F3;
    text-decoration: underline;
    font-weight: bold;
}

.contentWrapper a:hover {
    color: #0194F3;
}

.contentWrapper ul {
    margin-bottom: 24px;
    padding-left: 24px;
    list-style: disc;
}

.contentWrapper ol {
    counter-reset: super-decimal;
}

.contentWrapper ul>li {
    margin-top: 8px;
    margin-bottom: 8px;
    list-style: disc;
}

.contentWrapper ol>li {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 24px;
    counter-increment: super-decimal;
}

.contentWrapper ol>li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: counter(super-decimal) ".";
}

.contentWrapper ol>ul>li {
    margin-left: 16px;
}

.contentWrapper ul li ul li {
    margin-left: 16px;
    list-style: circle;
}

.footer-left p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.3;
}

.highlight {
    color: #0194f3;
}

/* FORM */
.form-control,
input.form-control,
select.form-control,
textarea.form-control {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 16px;
    min-height: 42px;
    width: 100%;
    border: 1px solid #DADADA;
    border-radius: 6px;
    background: #FFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    -webkit-transition: border 0.2s ease-out;
    transition: border 0.2s ease-out;
}

.form-control:focus,
.form-control.focus,
.form-control:hover {
    outline: 0;
    border: 1px solid #1BA0E2 !important;
}

.form-group select.form-control {
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group.selectbox:before {
    position: absolute;
    right: 16px;
    bottom: 18px;
    z-index: 10;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #0770CD;
    border-left: 2px solid #0770CD;
    content: "";
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-group.selectbox[class*="col-"]:before {
    right: 26px;
}

.form-group {
    position: relative;
    margin-bottom: 16px;
}

.form-group.form-inline {
    display: inline-block;
    margin-bottom: 0;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    min-height: 19px;
    color: #434343;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.form-group select.form-control {
    padding-right: 40px;
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group.required:after,
.form-group[required]:after {
    position: absolute;
    top: 28px;
    right: 8px;
    color: #F34646;
    content: "*";
    font-size: 18px;
}

.form-row .form-group:not(:first-child) {
    padding-left: 0;
}

textarea.form-control {
    line-height: 1.8;
    resize: vertical;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
    color: #8F8F8F;
    font-weight: 300;
    font-size: 13px;
}

.input-icon {
    position: absolute;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    pointer-events: none;
}

.input-icon img {
    display: inline-block;
    vertical-align: middle;
}

.input-icon+.form-control {
    padding-left: 48px;
}

/* BUTTON */
button .close {
    padding: 0;
    border-width: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    opacity: 0.5;
}

button .close:hover {
    opacity: 0.9;
}

[class*="btn-"],
.tv-generalButton {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 16px;
    border-width: 0;
    border-radius: 6px;
    text-align: center;
    text-decoration: none !important;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

[class*="btn-"]:focus {
    outline: 0;
}

:lang(th) [class*="btn-"] {
    font-weight: normal;
}

[class*="btn-"].btn-block {
    display: block;
    width: 100%;
}

.btn-default,
.btn-default:focus {
    background: #F7F9FA !important;
    color: #0194F3 !important;
}

.btn-default:hover {
    background: #F2F3F3 !important;
}

.btn-default:active:focus,
.btn-default:active:hover {
    background: #F7F9FA !important;
    color: rgba(1, 148, 243, 0.5) !important;
}

.btn-secondary {
    background: #0194F3 !important;
    color: #FFF !important;
}

.btn-secondary:hover {
    background: #007CE8 !important;
}

.btn-secondary:active:focus,
.btn-secondary:active:hover {
    background: #0194F3 !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

.btn-secondary-hollow {
    border: 2px solid #0770CD;
    background: transparent;
    color: #0770CD !important;
}

.btn-primary,
.btn-primary:focus {
    background: #FF5E1F;
    color: #FFF !important;
}

.btn-primary:hover {
    background: #DF440F;
}

.btn-primary:active:focus,
.btn-primary:active:hover {
    background: #FF5E1F;
    color: rgba(255, 255, 255, 0.5) !important;
}

.btn.btn-xs {
    padding: 10px 30px;
}

/* CONTAINER */
.box {
    margin-bottom: 24px;
    border: 1px solid #DADADA;
    border-radius: 6px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.box .box-header {
    border-bottom: 1px solid #DADADA;
}

.box div.box-header {
    padding: 16px 24px;
}

.box.box-body,
.box .box-body {
    padding: 24px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.box.large.box-body,
.box.large .box-body {
    padding: 40px 32px;
}

.box.large .nav-tab {
    margin: 0 32px;
}

.card {
    margin-bottom: 24px;
    min-height: 50px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(27, 27, 27, 0.1);
    line-height: 24px;
    transition: all 0.2s ease-out;
}

.card .card-header {
    padding: 16px;
    font-weight: 300;
}

.card.card-body,
.card .card-body {
    padding: 16px;
    transition: all 0.2s ease-out;
}

.card>*:first-child,
.card.card-body>*:first-child {
    margin-top: 0;
}

.card.large.card-body,
.card.large .card-body {
    padding: 40px 32px;
}

.card.large .nav-tab {
    margin: 0 32px;
}

.card .nav-tab:first-child {
    margin-top: -24px;
    margin-bottom: 16px;
}

.contentWrapper .nav-pill a,
.contentWrapper .nav-pill a:link {
    display: block;
    margin: 8px 0;
    padding: 10px 16px;
    border-radius: 6px;
    color: #8F8F8F;
    text-decoration: none !important;
    transition: background 0.2s ease-out;
}

.nav-pill a:hover {
    background: rgba(0, 0, 0, 0.08);
    color: #8F8F8F;
}

.nav-pill a.active {
    background: #0770CD;
    color: #FFF !important;
}

[data-pill-content] {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-out;
}

/* ANIMATION */

.slide-left {
    display: block !important;
    opacity: 0 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease-out;
    transform: translateX(-16px) !important;
}

.slide-right {
    display: block !important;
    opacity: 0 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease-out;
    transform: translateX(16px) !important;
}

.slide-up {
    display: block !important;
    opacity: 0 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease-out;
    transform: translateY(-16px) !important;
}

.slide-down {
    display: block !important;
    opacity: 0 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease-out;
    transform: translateY(16px) !important;
}

.active {
    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* INPUT */

.checkbox {
    position: relative;
    display: block;
    margin-bottom: 16px;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    top: 5px;
    z-index: 10;
    width: 100%;
    height: 16px;
    opacity: 0;
    cursor: pointer;
}

.checkbox input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    padding-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.checkbox input[type="checkbox"]+label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 1px solid #DADADA;
    border-radius: 4px;
    background: #F6F6F6;
    content: "";
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.checkbox input[type="checkbox"]+label:after {
    position: absolute;
    top: 2px;
    left: 5px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 6px;
    height: 9px;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    content: "";
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox input[type="checkbox"]:checked+label:after {
    border-color: #FFF;
}

.checkbox input[type="checkbox"]:checked+label:before {
    border-color: #0770CD;
    background: #0770CD;
}

/* TV OVERWRITES */

.tv-wrapper {
    margin: 0 auto;
    width: 960px;
}

.tv-wrapper-1024 {
    margin: 0 auto;
    width: 1024px;
}

#tvDesktop-flightSearchForm p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.1 !important;
}

.tv-search-container {
    line-height: normal;
}

.tv-search-container h2 {
    margin-top: 0;
}

.tv-hotel-search-table-container .tv-col-content {
    width: 100%;
}

.tv-dialog {
    border-radius: 6px;
}

.tv-dialog-body {
    border-radius: 6px;
    -webkit-box-shadow: 0 0px 1px 0px rgba(67, 67, 67, 0.2), 0px 2px 4px 0px rgba(67, 67, 67, 0.2);
    box-shadow: 0 0px 1px 0px rgba(67, 67, 67, 0.2), 0px 2px 4px 0px rgba(67, 67, 67, 0.2);
}

.tv-dialog-overlay {
    background-color: #232A31;
    opacity: 0.85;
}

.tv-dialog-content h3:first-child,
.tv-dialog-content h4:first-child,
.tv-dialog-content h5:first-child {
    margin-top: 0;
}

.newsletterDialogContent {
    background: #FFF;
}

.tv-dialog-footer {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF !important;
}

.tvSearchTagLineText h1 {
    line-height: 0;
}


.bus--seo_heading {
    text-align: center;
    display: block;
}

.bus--seo_heading.left {
    text-align: left;
}

.bus--seo_heading.right {
    text-align: right;
}

.bus--seo_heading h1 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
}

.bus--seo_heading h2 {
    font-size: 18px;
    margin-top: 0px;
    font-family: MuseoSans, sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
}

.bus--seo_heading h3 {
    font-size: 16px;
    margin-top: 0px;
    font-family: MuseoSans, sans-serif;
    font-weight: 500;
}

.bus--seo_heading h4 {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
}

.bus--seo_heading h5 {
    font-size: 16px;
    margin-top: 0px;
    font-family: MuseoSans, sans-serif;
    font-weight: 500;
}

.styles {
    background: url("https://ik.imagekit.io/tvlk/image/imageResource/mcp/componentType/1468569417420-desktopWeb.png") no-repeat center;
    background-size: contain;
    min-height: 30px;
    width: 100%;
    display: none;
}

.editing .styles {
    display: block;
}

* {
    box-sizing: border-box;
}

.seo-breadcrumb {
    margin: 88px auto 0 !important;
}

.tv-landing-page-headerSection {
    width: 100%;
    padding-top: 82px;
}

.gt_header_content p {
    color: white;
}

.train--global .partnerList {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dadada;
    ;
}

.train--global h2 {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.3px;
    color: #393939;
}

.train--global .partnerList p {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #393939;
}

.SEOText__readMore .trigger {
    left: 0;
    margin: 0 auto;
    text-align: center;
}

.contentWrapper .SEOText .SEOText__content p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
}

.contentWrapper .SEOText .SEOText__content {
    margin-bottom: 0px;
}

div[data-name="CRSeoTextBali"] .SEOText__readMore .trigger {
    padding-top: 16px;
    bottom: -24px;
}

div[data-name="CRSeoTextBali"] .SEOText__readMore svg {
    display: none;
}

[data-name="SEOLinks_Home_JRPASS"] {
    margin-bottom: 0 !important;
}

[data-name="SEOLinks_Home_JRPASS"] .align-center-short {
    width: 960px !important;
    padding-top: 8px !important;
    padding-bottom: 0 !important;
}

[data-name="SEOLinks_Home_JRPASS"] .align-center-short a {
    text-decoration: none !important;
    color: #8f8f8f;
    display: inline-block;
    margin: 0 8px;
    font-weight: normal !important;
}

.jp-how-to-book .bus--seo_heading h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 42px;
    margin-top: 64px;
}

.featureStep .centered {
    align-items: flex-start !important;
}

.featureStep img {
    height: 240px;
    width: auto !important;
    margin: auto;
    display: block;
}

.step-line {
    height: 120px !important;
}

.step-line span {
    margin-top: 54px !important;
}

.gt_header_wrapper {
    margin-bottom: 32px !important;
}

.train--global .step-line span:after {
    margin-top: 3px;
}

.train--global .step-line span:before {
    margin-top: -47px;
}

.train--global .step-line.inverse span:after {
    margin-top: -47px;
}

.train--global .step-line.inverse span:before {
    margin-top: 3px;
}

body {
    background-color: white;
}

.what--is_japan {
    padding-top: 64px;
}

.desktopV3 {
    background-color: white;
}

.contentWrapper a:link {
    color: #0194F3 !important;
    text-decoration: underline;
    font-weight: bold;
}

.v3Helpers {
    display: none;
}

a.active {
    color: #0194F3 !important;
}

.SEOText .SEOText__content p {
    font-size: 16px !important;
    line-height: 24px !important;
}

.desktopV3 h2 {
    margin-top: 0px;
}

.usp--viewer {
    display: block;
    padding-top: 56px;
    padding-bottom: 56px;
    max-width: 960px;
    width: 100%;
    margin: auto;
}

.usp--viewer_header {
    text-align: center;
    margin-bottom: 64px;
}

.usp--viewer_flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.usp--viewer_item {
    padding-left: 12px;
    padding-right: 12px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.usp--viewer_img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    position: relative;
    margin-bottom: 32px;
}

.usp--viewer_img img {
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.usp--viewer_content h3 {
    margin: 0px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.3px;
    color: #393939;
}

.usp--viewer_content p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
    color: #696969;
}

.featureStep {
    width: 960px;
    margin: auto;
}

.featureStep.last {
    margin-bottom: 40px;
}

.featureStep:first-child {
    margin-top: 80px;
}

div[data-step].align-left {
    padding-left: 88px;
    position: relative;
}

div[data-step].align-right {
    padding-right: 88px;
    position: relative;
}

div[data-step]:before {
    content: attr(data-step);
    position: absolute;
    background: #0770CD;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 32px;
}

div[data-step].align-left:before {
    left: 24px;
}

div[data-step].align-right:before {
    right: 24px;
}

.step-line {
    position: relative;
    display: block;
    height: 200px;
    text-align: center;
}

.step-line span {
    display: inline-block;
    width: 350px;
    height: 5px;
    margin-top: 95px;
    border-bottom: 2px dashed #B4B4B4;
}

.step-line span:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 50px;
    border-left: 2px dashed #B4B4B4;
    border-bottom: 2px dashed #B4B4B4;
    border-bottom-left-radius: 10px;
    float: left;
    margin-top: -45px;
    margin-left: -25px;
}

.step-line span:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 50px;
    border-right: 2px dashed #B4B4B4;
    border-top: 2px dashed #B4B4B4;
    border-top-right-radius: 10px;
    float: right;
    margin-top: 5px;
    margin-right: -20px;
}

.step-line.inverse span:after {
    border-width: 0;
    border-right: 2px dashed #B4B4B4;
    border-bottom: 2px dashed #B4B4B4;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    float: right;
    margin-top: -45px;
    margin-right: -25px;
}

.step-line.inverse span:before {
    border-width: 0;
    border-left: 2px dashed #B4B4B4;
    border-top: 2px dashed #B4B4B4;
    border-radius: 0;
    border-top-left-radius: 10px;
    float: left;
    margin-top: 5px;
    margin-left: -20px;
}

.partnerList {
    padding: 56px 0;
}

.partnerList:not(:first-child) {
    border-top: 1px solid #dadada;
}

.partnerList:not(:last-child) {
    border-bottom: 1px solid #dadada;
}

.partnerList .row {
    display: flex;
    flex-wrap: wrap;
}

.partnerList>.row {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.partnerImage {
    text-align: center;
    margin: 12px 0;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.partnerImage img {
    max-height: 72px;
    max-width: 100%;
}

.SEOPhotoDestination {
    position: relative;
    display: block;
    text-decoration: none !important;
    background: #f6f6f6;
    height: 304px;
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 6px;
}

.SEOPhotoDestination.dimension2x1 {
    height: 148px;
}

.compact .SEOPhotoDestination {
    height: 162px;
    border-radius: 4px;
}

.SEOPhotoDestination>img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .2s ease-out;
}

.compact .SEOPhotoDestination>img {
    height: auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.SEOPhotoDestination:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    top: 0;
    left: 0;
    background: #232A31;
    background: linear-gradient(135deg, #232A31 0%, rgba(35, 42, 49, 0.63) 100%);
    transition: all .2s ease-out;
}

.compact .SEOPhotoDestination:after {
    opacity: 1;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(27, 27, 27, 0.90) 100%);
}

.SEOPhotoDestination .SEOPhotoDestination-placeholder {
    position: relative;
    color: #fff;
    font-size: 32px;
    text-align: center;
    line-height: 304px;
    font-weight: normal;
    z-index: 1;
}

.SEOPhotoDestination.dimension2x1 .SEOPhotoDestination-placeholder {
    line-height: 148px;
}

.compact .SEOPhotoDestination .SEOPhotoDestination-placeholder {
    font-size: 20px;
    line-height: 24px;
    padding: 16px;
    text-align: left;
}

.SEOPhotoDestination .SEOPhotoDestination-placeholder small {
    display: none;
    font-size: 14px;
}

.compact .SEOPhotoDestination .SEOPhotoDestination-placeholder small {
    display: block;
}

.SEOPhotoDestination:hover>img {
    transform: scale(1.03);
}

.compact .SEOPhotoDestination:hover>img {
    transform: translateY(-50%) scale(1.03);
}

.SEOPhotoDestination:hover:after {
    opacity: .8;
}

.compact .SEOPhotoDestination:hover:after {
    opacity: .5;
}

.compact .SEOPhotoDestination:active:after {
    opacity: 1;
}

.compact .SEOPhotoDestination:active .SEOPhotoDestination-placeholder {
    color: rgba(255, 255, 255, .5);
}

.mcp-placeholder[data-name="content"]>.fancyHeading {
    margin-top: 56px;
}

.fancyHeading {
    width: 960px;
    margin: auto;
    margin-bottom: 24px;
    text-align: center;
}

.fancyHeading h2,
.fancyHeading .align-center-short {
    display: inline-block;
    width: 700px;
}

.fancyHeading h2 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 2;
}

.fancyHeading .align-center-short {
    line-height: 1.8;
    font-size: 16px;
    padding: 24px 0;
}

.fancyHeading.h2 .align-center-short p {
    color: #8f8f8f;
}

.fancyHeading .align-center-short p:first-child {
    margin-top: 0;
}

.fancyHeading .align-center-short p:last-child {
    margin-bottom: 0;
}

.block-underline.yellow:after {
    background-color: #FFC300;
}


#__next {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    position: relative;
}

[data-subtree] {
    display: block;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


[stylesheet-group="0"] {}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

[stylesheet-group="0.1"] {}

:focus:not([data-focusvisible-polyfill]) {
    outline: none;
}

[stylesheet-group="0.5"] {}

.css-18t94o4 {
    cursor: pointer;
}

.css-4rbku5 {
    background-color: rgba(0, 0, 0, 0.00);
    color: inherit;
    font: inherit;
    list-style: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: inherit;
    text-decoration: none;
}

[stylesheet-group="1"] {}

.css-1dbjc4n {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}

.css-901oao {
    border: 0 solid black;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1.00);
    display: inline;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.css-bfa6kz {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[stylesheet-group="2"] {}

.r-kdyh1x {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.r-1udh08x {
    overflow-x: hidden;
    overflow-y: hidden;
}

.r-bztko3 {
    overflow-x: visible;
    overflow-y: visible;
}

.r-17gur6a {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.r-1phboty {
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}

.r-6koalj {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.r-tuq35u {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.r-1yadl64 {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.r-1cis278 {
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
}

.r-t60dpp {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.r-13awgt0 {
    -ms-flex: 1 1 0%;
    -webkit-flex: 1;
    flex: 1;
}

.r-by8dw1 {
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}

.r-fmgwjw {
    border-bottom-color: rgba(2, 100, 200, 1.00);
    border-left-color: rgba(2, 100, 200, 1.00);
    border-right-color: rgba(2, 100, 200, 1.00);
    border-top-color: rgba(2, 100, 200, 1.00);
}

.r-rs99b7 {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
}

.r-edyy15 {
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.r-11mg6pl {
    border-bottom-color: rgba(255, 255, 255, 1.00);
    border-left-color: rgba(255, 255, 255, 1.00);
    border-right-color: rgba(255, 255, 255, 1.00);
    border-top-color: rgba(255, 255, 255, 1.00);
}

.r-1dzdj1l {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.r-d045u9 {
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
}

.r-nsbfu8 {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.r-xoduu5 {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.r-1l31rp8 {
    border-bottom-color: rgba(205, 208, 209, 1.00);
    border-left-color: rgba(205, 208, 209, 1.00);
    border-right-color: rgba(205, 208, 209, 1.00);
    border-top-color: rgba(205, 208, 209, 1.00);
}

[stylesheet-group="2.1"] {}

.r-1jgb5lz {
    margin-left: auto;
    margin-right: auto;
}

.r-r0h9e2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.r-1guathk {
    padding-left: 24px;
    padding-right: 24px;
}

.r-oyd9sg {
    padding-bottom: 4px;
    padding-top: 4px;
}

.r-1e081e0 {
    padding-left: 12px;
    padding-right: 12px;
}

.r-5njf8e {
    padding-bottom: 8px;
    padding-top: 8px;
}

.r-1h4fu65 {
    padding-bottom: 24px;
    padding-top: 24px;
}

.r-1fz3rvf {
    margin-left: 12px;
    margin-right: 12px;
}

.r-1hy1u7s {
    margin-left: 24px;
    margin-right: 24px;
}

[stylesheet-group="2.2"] {}

.r-391gc0 {
    background-color: rgba(242, 243, 243, 1.00);
}

.r-1xcajam {
    position: fixed;
}

.r-ipm5af {
    top: 0px;
}

.r-13qz1uu {
    width: 100%;
}

.r-1s3egr7 {
    z-index: 100;
}

.r-1uzo8ef {
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms;
}

.r-1yos0t3 {
    box-shadow: 0px 2px 5px rgba(3, 18, 26, 0.15);
}

.r-1awozwy {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.r-1g04hxd {
    border-top-color: rgba(1, 148, 243, 1.00);
}

.r-eujbse {
    border-top-width: 4px;
}

.r-18u37iz {
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.r-1wtj0ep {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.r-wech8c {
    max-width: 1280px;
}

.r-mrxtjd {
    min-width: 720px;
}

.r-184en5c {
    z-index: 1;
}

.r-eafdt9 {
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.r-1i6wzkk {
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.r-lrvibr {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.r-1loqt21 {
    cursor: pointer;
}

.r-1otgn73 {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.r-1q142lx {
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.r-88pszg {
    margin-right: 16px;
}

.r-1sixt3s {
    font-family: MuseoSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.r-1b43r93 {
    font-size: 14px;
}

.r-majxgm {
    font-weight: 500;
}

.r-rjixqe {
    line-height: 20px;
}

.r-fdjqy7 {
    text-align: left;
}

.r-633pao {
    pointer-events: none !important;
}

.r-1euycsn {
    -ms-flex-direction: row-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.r-q3we1 {
    margin-top: -4px;
}

.r-u8s1d {
    position: absolute;
}

.r-j76wpu {
    top: 100%;
}

.r-b4qz5r {
    box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
}

.r-4k2abt {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

.r-1ep47lj {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.r-1clhhh9 {
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
}

.r-1ftll1t {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.r-10paoce {
    outline-width: 0px;
}

.r-1vonz36 {
    clip: rect(0, 0, 0, 0);
}

.r-109y4c4 {
    height: 1px;
}

.r-3s2u2q {
    white-space: nowrap;
}

.r-92ng3h {
    width: 1px;
}

.r-b88u0q {
    font-weight: 700;
}

.r-q4m81j {
    text-align: center;
}

.r-1o4mh9l {
    font-size: 0.875rem;
}

.r-f0eezp {
    line-height: 1rem;
}

.r-tzz3ar {
    -ms-flex-wrap: nowrap;
    -webkit-box-lines: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.r-ubezar {
    font-size: 16px;
}

.r-135wba7 {
    line-height: 24px;
}

.r-1k97etb {
    background-color: rgba(1, 148, 243, 1.00);
}

.r-uia4a0 {
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
}

.r-1777fci {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.r-1ygmrgt {
    padding-top: 24px;
}

.r-uwe93p {
    width: 960px;
}

.r-s67bdx {
    font-size: 48px;
}

.r-lylfki {
    line-height: 56px;
}

.r-1x35g6 {
    font-size: 24px;
}

.r-vrz42v {
    line-height: 28px;
}

.r-42a4sc {
    margin-bottom: 50px;
}

.r-nydnoy {
    margin-top: -12px;
}

.r-1kihuf0 {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
}

.r-da5iq2 {
    box-shadow: 0px 1px 2px rgba(3, 18, 26, 0.20);
}

.r-atnv13 {
    height: 160px;
}

.r-x52lsg {
    background-image: -webkit-linear-gradient(90deg, #0194f3, #0264C8);
    ;
    background-image: -moz-linear-gradient(90deg, #0194f3, #0264C8);
    ;
    background-image: linear-gradient(90deg, #0194f3, #0264C8);
    ;
}

.r-jwli3a {
    color: rgba(255, 255, 255, 1.00);
}

.r-bnwqim {
    position: relative;
}

.r-i0so0h {
    outline-color: #0264C8;
}

.r-z7j6nc {
    padding-left: 36px;
}

.r-cygvgh {
    font-size: 1rem;
}

.r-1iukymi {
    line-height: 1.5rem;
}

.r-1ylt3d3 {
    background-color: rgba(27, 27, 27, 1.00);
}

.r-1jnzvcq {
    padding-bottom: 80px;
}

.r-bqdgw5 {
    padding-top: 56px;
}

.r-1w6e6rj {
    -ms-flex-wrap: wrap;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.r-169s5xo {
    margin-bottom: 100px;
}

.r-nib5yn {
    width: 1080px;
}

.r-16y2uox {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.r-14lw9ot {
    background-color: rgba(255, 255, 255, 1.00);
}

.r-h3s6tt {
    height: 48px;
}

.r-5oul0u {
    margin-bottom: 8px;
}

.r-1kb76zh {
    margin-right: 8px;
}

.r-7a29px {
    width: 64px;
}

.r-b8tw3c {
    width: 33.33%;
}

.r-zd98yo {
    margin-bottom: 32px;
}

.r-1ebb2ja {
    list-style: none;
}

.r-6gpygo {
    margin-bottom: 12px;
}

.r-nk2qpz {
    color: rgba(205, 208, 209, 1.00);
}

.r-nzoivv {
    opacity: 0.65;
}

.r-1peese0 {
    margin-bottom: 24px;
}

.r-1mnahxq {
    margin-top: 0px;
}

.r-ypl6q8 {
    opacity: 0.15;
}

.r-1enofrn {
    font-size: 12px;
}

.r-1cwl3u0 {
    line-height: 16px;
}