p {
    margin: 0;
}

.nav-bar {
    height: 88px;
    background: #fff;
    padding: 16px 0;
}

.nav-bar-item {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-item-left {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.nav-bar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.nav_bar_list_item {
    margin-right: 10px;
}

.nav_bar_list_item--process {
    height: 20px;
    width: 20px;
    background-color: #1ba0e2;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar_list_item--later {
    background-color: #434343;
}

.content_name {
    margin: 0 auto;
    width: 960px;
    font-size: 22px;
    line-height: 26px;
    padding: 0;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 30px;
}

.content {
    margin: 0 auto;
    width: 960px;
    display: flex;

}

.content__left {
    width: 634px;
    margin-right: 20px;
    display: flex;
}

.nav_bar_payment {
    width: 188px;
    background-color: #073e68;
}

.nav_bar_info {
    background-color: #fff;
    width: 100%;
}

.nav_bar_payment_item {
    padding: 15px 15px 10px;
    color: #fff;
}

.nav_bar_payment_item:hover {
    background-color: rgba(0, 0, 0, .15);
}

.nav_bar_payment_item--active {
    background-color: #fff;
    color: #073e68;
}

.nav_bar_info_count {
    padding: 16px 24px;
    text-align: center;
    background-color: #f1f8fc;
    font-size: 14px;
    font-weight: 500;
    color: #0d7fcc;
}

.nav_bar_info_count > span > img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.nav_bar_info_content > h4, .nav_bar_info_detail {
    padding: 15px 24px;
}

.nav_bar_info_detail {
    background-color: #f7f8f9;
}

.nav_bar_info_detail > span {
    margin-bottom: 24px;
    font-size: 18px;
}

.detail_item, .detail_item_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.detail_item_name {
    width: 350px;
    line-height: 22px;
}

.through {
    margin: 16px 0;
    width: 100%;
    height: 1px;
    background-color: #dadada;
}

.detail_item_total {
    margin-bottom: 10px;
}

.detail_item_total > .detail_item_name {
    width: 300px;
}

.detail_item_total > .detail_item_price {
    font-size: 16px;
    font-weight: 500;
}

.nav_bar_info_gift {
    padding: 15px 24px;
    background-color: #f4fbfe;
    border-top: 1px solid #def1fb;
    font-size: 14px;
    color: #0d7fcc;
}

.nav_bar_info_policy {
    text-align: right;
    padding: 15px 24px;
}

.nav_bar_info_pay {
    padding: 15px 24px;
    text-align: right;
}

.nav_bar_info_pay > button {
    background-color: #fb8b34;
    border: 5px;
    border-radius: 5px;
    padding: 10px 24px;
    line-height: 24px;
    color: #fff;
}

.content__right {
    background-color: #fff;
    padding: 0 16px;
    height: 100%;
}

.booking-code {
    padding: 10px 0;
}

.booking-code > h4 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    color: #8f8f8f;
}

.booking-code > span {
    font-size: 16px;
    line-height: 24px;
}

.booking-content {
    padding: 10px 0;
}

.booking-content > h5 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    color: #8f8f8f;
}